* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-image: url(../images/backgroundFelt.jpg);
    min-height: 100vh;
}

.wrapper {
    /* background-color: bisque; */
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 50px 50px 200px 50px 200px 50px 50px;
    grid-template-columns: 4.5fr 4.5fr 1fr;
    color: white;
}

.headline {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
}

.headline > h1 {
    display: none;
    justify-content: center;
    align-items: center;
}

.header {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.header > h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(241, 196, 15);
    font-size: 40px;
    text-decoration: underline solid;
    text-transform: uppercase;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.dealer {
    /* background-color: green; */
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.dealer > h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(241, 196, 15);
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: underline solid;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.dealerScore {
    /* background-color: blue; */
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.deck {
    /* background-color: aqua; */
    grid-row: 3 /span 3;
    grid-column: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck > #bottomcard {
    background-color: white;
    position: absolute;
    top: 160;
    left: 110;
}

.deck > #topcard {
    background-color: white;
    position: relative;
    top: 10px;
    left: 30px;
}

.cardone {
    /* background-color: pink; */
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.player {
    /* background-color: violet; */
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}

.player > h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(241, 196, 15);
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: underline solid;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.playerScore {
    /* background-color: darkcyan; */
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.cardtwo {
    /* background-color: yellow; */
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.cardtwo > img, .cardone > img {
    display: flex;
    background-color: white;
    height: 150px;
    margin: 5px;
    justify-content: space-evenly;

}

.actionButtons {
    /* background-color: bisque; */
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.actionButtons>button {
    font-size: 25px;
    font-weight: bolder;
    width: 150px;
    cursor: pointer;
}

.reset {
    /* background-color: darkblue; */
    grid-row: 7 / span 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
}

.reset>button {
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
}