* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    background-image: url(/images/backgroundFelt.jpg);
}

.wrapper {
    /* height: 800px */
    /* background-color: bisque; */
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 350px 350px 100px 50px;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.deck {
    display: grid;
    grid-template-rows: 100px 700px;
    /* background-color: red; */
    grid-row: span 2;
}

.deck > h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: Carter One;
    padding: 10px 50px 10px 70px;
    color: rgb(241, 196, 15);
    font-size: 60px;
    text-transform: uppercase;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.dealer {
    /* background-color: green; */
    display: grid;
    grid-template-rows: 50px 300px;
}

.dealer > h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(241, 196, 15);
    font-size: 40px;
    text-decoration: underline solid;
    text-transform: uppercase;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.player {
    /* background-color: blue; */
    display: grid;
    grid-template-rows: 50px 300px;
}

.player > h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(241, 196, 15);
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: underline solid;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.hit {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hit > button {
    font-size: 30px;
    width: 200px;
    height: 75px;
    font-weight: bolder;
}

.stay {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.stay > button {
    font-size: 30px;
    width: 200px;
    height: 75px;
    font-weight: bolder;
}

.reset {
    display: flex;
    /* background-color: purple; */
    grid-column: span 2;
    justify-content: center;
    align-items: center;
}

.reset > button {
    height: 35px;
    font-weight: bolder;
}
.